<form [formGroup]="datosIncidencias"   class="form-group container w-50 mt-3">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="id" placeholder="id" formControlName="id" />
    <label for="id">Id</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="fecha" placeholder="fecha" formControlName="fecha" />
    <label for="fecha">fecha</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="lugarIncidencia" placeholder="lugarIncidencia" formControlName="lugarIncidencia" />
    <label for="lugarIncidencia">Lugar de la incidencia</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="descIncidencia" placeholder="descIncidencia" formControlName="descIncidencia" />
    <label for="descIncidencia">Descripción de la incidencia</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="solucion" placeholder="solucion" formControlName="solucion"/>
    <label for="solucion">Solución de la incidencia</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="estado" placeholder="estado" formControlName="estado" />
    <label for="estado">Estado de la incidencia</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="revisada" placeholder="revisada" formControlName="revisada" />
    <label for="revisada">Revisión de la incidencia</label>
  </div>
  <button class="btn btn-primary" (click)="guardar()" routerLink="menu">Guardar</button>
  <button class="btn btn-primary" (click)="cancelar()"routerLink="menu">Cancelar</button>
</form>
