<!-- Esta clase nos mostrará los detalles de cada incidencia -->
<div>
  <h1>Listado de usuarios</h1>
  <div *ngFor="let usuarios of listadoUsuarios">
    <div>
      <ul class="list-group">
        <li class="list-group-item">Email: {{ usuarios.email }}</li>
        <li class="list-group-item"><button type="button" class="btn btn-info" routerLink="detalles/{{usuarios.documentId}}">Detalles</button></li>
      </ul>
    </div>
  </div>
  <button class="btn btn-primary boton" (click)="cancelar()">Cancelar</button>
</div>



