<!-- Esta clase nos mostrará los detalles de cada incidencia, poniendo una lista hecha con clases
  de bootstrap-->
<div>
  <h1>Listado de incidencias:</h1>
  <div *ngFor="let incidencias of listadoIncidencias">
    <div>
      <ul class="list-group">
        <li class="list-group-item">Id: {{ incidencias.id }}</li>
        <li class="list-group-item">Descripción: {{ incidencias.descIncidencia }}</li>
        <li class="list-group-item"><button type="button" class="btn btn-info" routerLink="detalles/{{incidencias.documentId}}">Detalles</button></li>
      </ul>
    </div>
  </div>
  <button class="btn btn-primary boton" (click)="cancelar()">Cancelar</button>
</div>



