
<div class="text-center">
<h1>Proyecto de incidencias</h1>
<i *ngFor="let usuarios of rolUsuarios">
  <div class="text-center" *ngIf="usuarios.rol == 'Admin'">
    <a class="btn btn-outline-success" routerLink="/gestion-incidencias">Gestión incidencias</a>
    <a class="btn btn-outline-success" routerLink="/revision-incidencias">Revisión incidencias</a>
  </div>
  <div class="text-center" *ngIf="usuarios.rol == 'Empleado'">
    <a class="btn btn-outline-success" routerLink="/gestion-incidencias">Gestión incidencias</a>
  </div>

</i>
<div class="text-center">
    <a class="btn btn-outline-success" routerLink="/introduccion-incidencias">Introducir incidencias</a>
  </div>

</div>
