<div class="text-center container w-50 mt-3">
    <h1 class="h1">INICIAR SESIÓN</h1>
    <form class="form-group container w-50 mt-3" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label class="form-label">Correo Electrónico</label>
          <input type="text" class="form-control" id="email" formControlName="email" placeholder="Introduzca su Correo Electrónico">
        </div>
        <div class="mb-3">
          <label class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="contraseña" formControlName="contraseña" placeholder="Introduzca su contraseña">
        </div>
        <input type="submit" class="btn btn-primary" value="Enviar">
      </form>
</div>
<div class="text-center container w-50 mt-3" >
    <a class="link" routerLink="../registro" >¿No estás registrado? Pincha aquí</a>
</div>