<section>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
        <a class="navbar-brand" href="#">Incidencias</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="nav collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="login">Iniciar sesión</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="registro">Registro</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link" (click)="cerrarSesion()">Cerrar sesión</a>
          </li>
          </ul>
        </div>
      </nav>
    
  </section>

  
<router-outlet></router-outlet>
