<div class="text-center m-3">
  <h1 class="display-1">Revisión de las incidencias</h1>
    <div class="card" *ngFor="let incidencias of listadoIncidencias">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Id: {{ incidencias.id }}</li>
        <li class="list-group-item">Fecha: {{ incidencias.fecha }}</li>
        <li class="list-group-item"> Lugar de la incidencia: {{  incidencias.lugarIncidencia }}</li>
        <li class="list-group-item">Descripción de la incidencia: {{  incidencias.descIncidencia  }}</li>
        <li class="list-group-item">Estado de la incidencia: {{  incidencias.estado  }}</li>
        <li class="list-group-item">Lugar de la incidencia: {{  incidencias.solucion }}</li>
      </ul>
</div>

<div>
  <button class="btn btn-info" (click)="getIncidenciasRevisadas()">Revisadas</button>
  <button class="btn btn-info" (click)="getIncidenciasNoRevisadas()">No revisadas</button>
  <button class="btn btn-info" (click)="getIncidencias()">Todas</button>
</div>
</div>




