<section class="header-section">
      <button value=" ">TODAS</button>
      <button value="revisado">REVISADAS</button>
      <button value="no revisado">NO REVISADAS</button>
</section>
<h2 style="text-align: center">LISTA DE INCIDENCIAS</h2>
<h3 style="text-align: center">(Pulse para editar su estado de revision)</h3>

<br /><br />

<div *ngIf="condicion == ' '" class="text-center">
  <div *ngFor="let listadoIncidencia of listadoIncidencias">
    <br />
    <div class="contenedor text-center">
      <a
        routerLink="/revision-incidencias/{{listadoIncidencia.id}}"class="btn btn-secondary">
      Id: {{ listadoIncidencia.id }} // Lugar: {{ listadoIncidencia.lugarIncidencia }} // Descripcion: {{ listadoIncidencia.descIncidencia }}
      </a>
    </div>
  </div>
</div>

<div *ngIf="condicion == 'revisado'" class="text-center">
  <div *ngFor="let revisado of listadoIncidencias">
    <div class="contenedor text-center">
      <a
        routerLink="/revision-incidencias/{{revisado.id}}"class="btn btn-secondary">
      Id: {{ revisado.id }} // Lugar: {{ revisado.lugarIncidencia }} // Descripcion: {{ revisado.descIncidencia }}
      </a>
    </div>
  </div>
</div>

<div *ngIf="condicion == 'no revisado'" class="text-center">
  <div *ngFor="let noRevisado of listadoIncidencias; let i = index">
    <br />
    <div class="contenedor text-center">
      <a
        routerLink="/revision-incidencias/{{noRevisado.id}}"class="btn btn-secondary">
      Persona: {{ noRevisado.id }} // Lugar: {{ noRevisado.lugarIncidencia }} // Descripcion: {{ noRevisado.descIncidencia }}
      </a>
    </div>
  </div>
</div>

<br />
<div class="text-center">
</div>
